<section class="containerGeneral">
  <img class="img_fnd" src="./../../../assets/images/fnd_home.png" alt="image">
    <nav class="mainNavigator">
      <div class="containerLogo">
        <div class="tk-blob" style="--fill: #e91e63;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.6 385.5">
            <path d="M381.4 86.5c43.5 48 77.5 110.3 68.8 168.7-8.6 58.4-59.9 113-114.8 126.7-54.9 13.6-113.4-13.7-176.6-40.6-63.1-27-130.7-53.5-151.5-102.8-20.9-49.2 5.1-121.1 50.3-169.5C102.8 20.7 167.1-3.9 225.9.5c58.8 4.5 111.9 38.1 155.5 86z"></path>
          </svg>
        </div>
        <img class="imageLogo" src="./../../../assets/images/logo.png" alt="logo">
      </div>
      <!-- <h1>To do tasks</h1> -->
      <button type="button" class="btnCreateTask" (click)="onAddTask()">Add Task</button>
    </nav>

    <div class="containerSearch">
        <div class="infoSearch">
          <img src="./../../../assets/icons/icon-search.png" alt="icon search">
          <input #search type="text" name="search" id="search" placeholder="Search task" (keyup.enter)="onSearchTask(search.value)">
        </div>
        <div class="containerFilters">
          <span for="filters">Filter priority: </span>
          <button type="button" (click)="onChangepriority('High')">High</button>
          <button type="button" (click)="onChangepriority('Medium')">Medium</button>
          <button type="button" (click)="onChangepriority('Low')">Low</button>
          <button type="button" (click)="onChangepriority('default')">Default</button>
        </div>
      
      
    </div>

    <div class="containerNewTask" *ngIf="activateFormTask">
      <button type="button" class="btnCloseTask" (click)="onCancelTask()"><img src="./../../../assets/icons/close2.png" alt="icon close"></button>

        <h5 class="titleNewTask">Add new task</h5>

        <form class="formAddTask" [formGroup]="formTask" autocomplete="on" >
            <div class="detailsAddTask">
                <label for="name">*Name Task</label>
                <input type="text" id="name" name="name" formControlName ="name">
            </div>
            <div class="invalid">
                <span 
                  *ngIf="formTask.controls['name'].hasError('required') && (formTask.controls['name'].dirty || formTask.controls['name'].touched)">
                  This field is required</span>
                <span
                  *ngIf="formTask.controls['name'].invalid && !formTask.controls['name'].hasError('required')">
                  The name must have a minimum of 4 letters
                </span>
            </div>
            <div>
              <div class="detailsAddTask">
                <label for="category">Select priority</label>
                <select name="category" id="category" formControlName ="categories">
                    <option value="" selected disabled="disabled">Select</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
              </div>
              <div class="detailsAddTask">
                <label for="date_end">Finish date</label>
                <input type="date" id="date_end" name="date_end" formControlName ="date_end">
              </div>

            </div>
            <div class="detailsAddTask">
                <span>*Task description</span>
                <textarea name="description" id="description" cols="30" rows="8" formControlName ="description"></textarea>
                <div class="invalid">
                  <span 
                    *ngIf="formTask.controls['description'].hasError('required') && (formTask.controls['description'].dirty || formTask.controls['description'].touched)">
                    This field is required</span>
                  <span
                    *ngIf="formTask.controls['description'].invalid && !formTask.controls['description'].hasError('required')">
                    The description must have a minimum of 6 letters
                  </span>
                </div>
            </div>
            
            <div class="groupBtnsNewTaks">
                <button *ngIf="newTask" type="button" [disabled]="formTask.invalid" (click)="OntaskActive()">Create task</button>
                <button *ngIf="updateTask" type="button" [disabled]="formTask.invalid" (click)="OntaskUpdate()">Save</button>
            </div>

        </form>

    </div>

    <div class="containerAllItems">
      <div class="containerItems" *ngFor="let item of tasks; let i = index">
        <app-task-item-component [item]="item"></app-task-item-component>
        <div class="containerbtnsItems" *ngIf="activeBtnsItems">
          <button type="button" class="btnEdit" (click)="editTaks(i, item)">Edit</button>
          <button type="button" class="btnDelete" (click)="deleteTaks(item.id)">Delete</button>
        </div>
        <div class="containerTaskComplete" [ngClass]="{'activeCompleted': activeBtnsItems == false}">
          <label for="completed">
            <input type="checkbox" name="completed" id="completed" (change)="taksComplete($event.target)">
            Task Complete
          </label>
        
      </div>
      </div>
    </div>
    
  
</section>

<router-outlet></router-outlet>
